html body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    background-image: url("../public/background-image.jpg");
    height: 100vh;

    color: hwb(0 50% 50% / 0.967)
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}




#item-icon:hover {
    color: red;
    scale: 1.2;

}

#item-icon {
    margin-left: 10px;
}